extends layout

block content
  .content
      h1 Faltou?!
      .row
        p registre aqui

      .row
        form#add
          label(for='what') O quê?
          input#what

          label(for='where') Onde?
          input#where

          label(for='when') Quando?
          input#when

          button#btn-add.btn.btn-lg Registrar

       .row
          input(type="hidden")#where-lon
          input(type="hidden")#where-lat

      .row
          #map

