extends layout

block content
  .container
      .row
        h2 Faltou luz?!

      .row
        form(role='form')#add
          .form-group#where-group
            label(for='where').control-label Onde?
            input#where.form-control
            span.where-help.help-block.hidden obrigatório

          .form-group#when-group
            label(for='when').control-label Quando?
            input#when.form-control
            span.when-help.help-block.hidden obrigatório


          button(type='submit')#btn-add.btn.btn-lg Registrar

       .row
          input(type='hidden')#where-lon
          input(type='hidden')#where-lat

      .row
          #map

